body {
  margin: 0;
  font-family: papyrus;
  backgroud-color: #f0f0f0;
}
#layout {
  display: flex;
  gap: 1rem;
}

#sivupalkki {
  width: 250px;
  background-color: #fff0f0;
  padding: 1rem;
}

/* #otsikko {
  padding: 6rem;
} */

main {
  background-color: #000000;
  flex: 1;
  padding: 1rem;
}
