body {
  margin: 0;
  font-family: papyrus;
}
/* #layout {
  display: flex;
  gap: 1rem;
} */

#sivupalkki {
  width: 250px;
  background-color: #fff0f0;
  padding: 1rem;
}

#main {
  background-color: #000000;
  flex: 1;
  padding: 1rem;
}
