body {
  margin: 0;
  font-family: papyrus;
  background-color: #000000;
}
#layout {
  display: flex;
  gap: 1rem;
}

#sivupalkki {
  width: 250px;
  background-color: #fff0f0;
  padding: 1rem;
}

main {
  background-color: #ffffff;
  flex: 1;
  padding: 1rem;
}
