body {
  margin: 0;
  font-family: papyrus;
}
#layout {
  display: flex;
  gap: 1rem;
  background-color: #f5caca;
}

#sivupalkki {
  width: 250px;
  background-color: #fff0f0;
  padding: 1rem;
}

#sisalto {
  background-color: #f0f0f0;
}

main {
  flex: 1;
  padding: 1rem;
}
